html {
		font-size: 25pt;
		background-color: black;
		vertical-align: central;
}

h3 {
		color: rgb(132, 132, 152);
		margin-bottom: 0.3em;
}

h4 {
		color: rgb(132, 132, 152);
		font-size: 18pt;
		margin-top: 0;
}

.impress-supported .fallback-message {
		display: none;
}

.impress-enabled .step {
		margin: 0;
		opacity: 0;
		-moz-transition: opacity 1s;
		-ms-transition: opacity 1s;
		-o-transition: opacity 1s;
		transition: opacity 1s;
}

.slide>.title {
		margin-left: 5em;
		margin-top: 9em;
}

.slide, .motto-pic-1 {
		display: block;
		width: 36em;
		height: 20em;
		margin: 0.5em auto;
		padding: 2em 3em;
		background-color: white;
		border: 1px solid rgba(0, 0, 0, .3);
		border-radius: 1em;
		box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
		color: rgb(102, 102, 102);
		text-shadow: 0 2px 2px rgba(0, 0, 0, .1);
		font-family: 'Open Sans', Arial, sans-serif;
		background: url(vismalogo.png) no-repeat bottom right, white;
		overflow: hidden;
}

.slide>img {
		margin: auto;
		display: block;
}

.impress-enabled .step.active { 
		opacity: 1;
}

.motto-pic-1 {
		padding: 0;
		width: 42em;
		height: 24em;
		background: url(motto-pic-1.jpg) no-repeat center;
		-webkit-background-size: 103%;
		background-size: 103%;
		position: relative;
}

.motto-pic-1:after {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 1em;
		bottom: 1em;
		opacity: 0.6;
		background: url(vismalogo.png) no-repeat bottom right;
}

/*.slide {
}

.slide>.content{
		margin: auto;
}*/
/*
.active {
}*/
/*
.active + div + div {
		opacity: 0.1;
		transition: opacity 1s;
}*/
/*
.wall {
		background-color: none;
		transition: background-color 1s;
}

.wall.active {
		background-color: white;
		transition: background-color 1s;
}*/
